.nav {
    width: 100%;
}

.nav__links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__links li {
    height: 5rem;
}

.nav__links a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--white);
    transition: 1s;
}

.nav__links a:hover {
    background-color: lightgray;
}

.section {
    margin: 2%;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50px;
}

.section1 {
    margin: 2%;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50px;
}

.section1__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1__content h1 {
    text-align: center;
}

.section1__content__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    width: 100%;
}

.section1__content__search input {
    border: 2px solid var(--black);
    border-radius: 10px;
    margin: 2%;
    padding: 3%;
    font-size: 1rem;
    color: var(--black);
    height: 75%;
    width: 75%;
}

.section1__content__search__button {
    height: 75%;
    width: 25%;
}

.section2 {
    margin: 2%;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 50px;
    gap: 5em;
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2% 1%;
    border-radius: 25px;
    background-color: gray;
}

.card img {
    width: 85%;
}

.section2__card__text {
    margin: 2%;
}

.cart-section__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.cart-section__images__main-image {
    width: 100%;
    margin: 5%;
}

.cart-section__images__images-carousel {
    width: 100%;
    display: flex;
}

.cart-section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5%;
}

.contact-section__contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: gray;
    border-radius: 35px;
    padding: 0 10% 5%;
    margin: 5% 20%;
}
    
.contact-section__contact-card h1 {
    color: white;
}

.contact-section__contact-card__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section__contact-card__form__input-text {
    background-color: gray;
    border: 3px solid var(--white);
    padding: 3%;
    font-size: 1rem;
    color: var(--white);
    border-radius: 10px;
    margin: 2%;
    width: 100%;
}

.contact-section__contact-card__form__input-text::placeholder {
    color: black;
}

.contact-section__contact-card__form__input-submit {
    background-color: white;
    color: black;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    padding: 3%;
    cursor: pointer;
    width: 20%;
    align-self: flex-end;
}

.aboutus-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}


.contact-section__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: gray;
    border-radius: 35px;
    padding: 0 10% 5%;
    margin: 5% 20%;
}

.contact-section__newsletter__title {
    color: white;
    padding: 5%;
}

.contact-section__newsletter__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section__newsletter__form__input-text {
    background-color: gray;
    border: 0;
    border-bottom: 2px solid var(--white);
    padding: 3%;
    font-size: 1rem;
    color: var(--white);
    margin: 2%;
    width: 100%;
}

.contact-section__newsletter__form__input-text:focus {
    outline: 0;
}

.contact-section__newsletter__form__input-text::placeholder {
    color: var(--white);
}

.contact-section__newsletter__form__checkbox {
    margin: 2% 0%;
    align-self: flex-start;
}

.contact-section__newsletter__form__checkbox__label-checkbox {
    color: var(--white);
    font-size: 1rem;
    font-family: 'Abril Regular';
}

.contact-section__newsletter__form__input-submit {
    background-color: white;
    color: black;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    padding: 3%;
    cursor: pointer;
    width: 20%;
    align-self: flex-end;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}