/* ---------- Navbar ---------- */

.nav__links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__links li {
    height: 5rem;
}

.nav__links a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--white);
    transition: 1s;
}

.nav__links a:hover {
    background-color: var(--light-blue);
}

/* ---------- AAA ---------- */

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    text-align: center;
}

.cart-section__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.cart-section__images__main-image {
    width: 100%;
    margin: 5%;
}

.cart-section__images__images-carousel {
    width: 100%;
    display: flex;
}

.cart-section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5%;
}

.contact-section__contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 35px;
    padding: 0 10% 5%;
    margin: 5% 20%;
}

.contact-section__contact-card__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section__contact-card__form__input-text {
    border: 3px solid var(--white);
    padding: 3%;
    font-size: 1rem;
    border-radius: 10px;
    margin: 2%;
    width: 100%;
}

.contact-section__contact-card__form__input-text::placeholder {
    color: var(--white);
}

.contact-section__contact-card__form__input-submit {
    color: black;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    padding: 3%;
    cursor: pointer;
    width: 20%;
    align-self: flex-end;
}

.aboutus-section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}


.contact-section__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 35px;
    padding: 0 10% 5%;
    margin: 5% 20%;
}

.contact-section__newsletter__title {
    padding: 5%;
}

.contact-section__newsletter__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section__newsletter__form__input-text {
    border: 0;
    border-bottom: 2px solid var(--white);
    padding: 3%;
    font-size: 1rem;
    color: var(--white);
    margin: 2%;
    width: 100%;
}

.contact-section__newsletter__form__input-text:focus {
    outline: 0;
}

.contact-section__newsletter__form__input-text::placeholder {
    color: var(--white);
}

.contact-section__newsletter__form__checkbox {
    margin: 2% 0%;
    align-self: flex-start;
}

.contact-section__newsletter__form__checkbox__label-checkbox {
    color: var(--white);
    font-size: 1rem;
    font-family: 'Abril Regular';
}

.contact-section__newsletter__form__input-submit {
    color: black;
    border: 0;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    padding: 3%;
    cursor: pointer;
    width: 20%;
    align-self: flex-end;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}